matplotlib==2.0.0
pandas==0.19.2
Pint==0.7.2
pycodestyle==2.3.1
pydocstyle==1.1.1
pyenchant==1.6.8
pylint==1.6.5
pytest==3.0.7
pytest-catchlog==1.2.2
pytest-cov==2.4.0
pytest-logging==2015.11.4
python-magic==0.4.13
requests==2.13.0
scipy==0.19.0
yapf==0.16.1
